<mjml>
	<mj-head>
        <mj-title>Tick-tock. Timing is running out on these great Dodge offers!</mj-title>
        <mj-preview>Get limited-time savings on select Dodge models</mj-preview>

        <mj-breakpoint width="600px" />
        <mj-attributes>
            <mj-all font-family="Helvetica, Arial, sans-serif" />
            <mj-class name="full-width-image" padding="0" width="600px" />
            <mj-class name="body-section" padding="0 0 20px 0" />
            <mj-class name="body-text" font-size="16px" font-weight="400" line-height="1.4" color="#636363" padding="20px" />
            <mj-class name="footer-text" font-size="12px" font-weight="400" line-height="1.5" color="#636363" padding="20px" />
            <mj-class name="footer-cta" inner-padding="10px 0px" padding="0 1px 1px 1px" font-size="13px" font-weight="300" background-color="#FF341F" color="#ffffff" width="100%" border-radius="0" />
            <mj-class name="bggrey" background-color="#EBEBEB" />
            <mj-class name="bgwhite" background-color="#FFFFFF" />
            <mj-class name="bgblack" background-color="#000000" />
            <mj-class name="bgblue" background-color="#436fb0" />
        </mj-attributes>
        <mj-style inline="inline">
            sup, sub { font-size: 9px;}
            a { color: inherit; }
            .noU {text-decoration: none;}
        </mj-style>
    </mj-head>

    <mj-body background-color="#F3F3F3">
        <mj-section mj-class="bgblack" padding="20px">
            <mj-column>
                <mj-image
                    src="img/logo_white.png"
                    alt="Dodge Logo"
                    href="https://www.dodge.ca/en?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8176_Brand_EN_CHR_OneTime_NTL&utm_content=NTL_EN_na"
                    width="300px"
                    padding="0" />
            </mj-column>
        </mj-section>

        <!-- hero -->
        <mj-section mj-class="body-section bgwhite" padding="0">
            <mj-column>
                <mj-image mj-class="full-width-image" src="img/hero.png"
                    alt="Dodge lineup on city street"
                    href="https://www.dodge.ca/en?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8176_Brand_EN_CHR_OneTime_NTL&utm_content=NTL_EN_na"
                />
            </mj-column>
        </mj-section>

        <!-- menu -->
        <mj-section padding="0" mj-class="bgwhite">
            <mj-column>
                <mj-button mj-class="footer-cta" padding-left="0" href="https://www.dodge.ca/en/build-and-price?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na">Calculate&nbsp;Payments</mj-button>
            </mj-column>
            <mj-column>
                <mj-button mj-class="footer-cta" href="https://www.dodge.ca/en/new-inventory/search?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na">Search&nbsp;Inventory</mj-button>
            </mj-column>
            <mj-column>
                <mj-button mj-class="footer-cta" href="https://www.dodge.ca/en/build-and-price?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na">Build&nbsp;&amp;&nbsp;Price</mj-button>
            </mj-column>
            <mj-column>
                <mj-button mj-class="footer-cta" padding-right="0" href="https://www.dodge.ca/en/compare/?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na">Compare&nbsp;Models</mj-button>
            </mj-column>
        </mj-section>

        <!-- body text -->
        <mj-section mj-class="body-section bgwhite">
            <mj-column>
                <mj-text mj-class="body-text">
                    %%FIRSTNAME%%,
                    <br /><br />
                    Dodge vehicles offer the innovation, bold styling and convenience everyone loves. Their interiors deliver comfort, convenience and the latest technology and entertainment.
                    <br /><br />
                    Take advantage of the incredible offers below to choose the Dodge model that fits the way you live. Whether you want the Most Awarded Minivan Ever<sup>^</sup>, the Most Versatile Crossover in Its Class<sup>&dagger;</sup> or a ferocious ride with up to 797 hp, the Dodge brand has you covered.
                </mj-text>
            </mj-column>
        </mj-section>

        <!-- vehicle 1 -->
        <mj-section mj-class="body-section bgwhite" padding="0">
            <mj-column>
                <mj-image mj-class="full-width-image" src="img/body1.jpg"
                    href="https://www.dodge.ca/en/journey?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na"
                    alt="Dodge Journey in forest setting" />
                <mj-image mj-class="full-width-image" src="http://www.chrysleroffers.ca/%%Language_Preference%%/email-offers/%%TILE_25%%/%%BRAND_CODE%%/D0008/desktop-offer.jpg"
                    href="https://www.dodge.ca/en/build-and-price/dodge/grandcaravan/2019/20303?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na" />
            </mj-column>
        </mj-section>

        <!-- vehicle 2 -->
        <mj-section mj-class="body-section bgwhite" padding="0">
            <mj-column>
                <mj-image mj-class="full-width-image" src="img/body2.jpg"
                    href="https://www.dodge.ca/en/grandcaravan?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na"
                    alt="Dodge Grand Caravan parked in a park" />
                <mj-image mj-class="full-width-image" src="http://www.chrysleroffers.ca/%%Language_Preference%%/email-offers/%%TILE_25%%/%%BRAND_CODE%%/D0009/desktop-offer.jpg"
                    href="https://www.dodge.ca/en/build-and-price/dodge/journey/2018/19290?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na" />
            </mj-column>
        </mj-section>

        <!-- vehicle 3 -->
        <mj-section mj-class="body-section bgwhite" padding="0">
            <mj-column>
                <mj-image mj-class="full-width-image" src="img/body3.jpg"
                    href="https://www.dodge.ca/en/challenger?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na"
                    alt="Dodge Challenger parked in desert setting" />
                <mj-image mj-class="full-width-image" src="http://www.chrysleroffers.ca/%%Language_Preference%%/email-offers/%%TILE_25%%/%%BRAND_CODE%%/D0003/desktop-offer.jpg"
                    href="https://www.dodge.ca/en/build-and-price/dodge/challenger/2019/20429?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na" />
            </mj-column>
        </mj-section>

        <!-- vehicle 4 -->
        <mj-section mj-class="body-section bgwhite" padding="0">
            <mj-column>
                <mj-image mj-class="full-width-image" src="img/body4.jpg"
                    href="https://www.dodge.ca/en/charger?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na"
                    alt="Dodge Charger parked in desert setting	" />
                <mj-image mj-class="full-width-image" src="http://www.chrysleroffers.ca/%%Language_Preference%%/email-offers/%%TILE_25%%/%%BRAND_CODE%%/D0004/desktop-offer.jpg"
                    href="https://www.dodge.ca/en/build-and-price/dodge/charger/2019/20414?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na" />
            </mj-column>
        </mj-section>

        <!-- vehicle 5 -->
        <mj-section mj-class="body-section bgwhite" padding="0">
            <mj-column>
                <mj-image mj-class="full-width-image" src="img/body5.jpg"
                    href="https://www.dodge.ca/en/durango?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na"
                    alt="Dodge Durango driving on highway" />
                <mj-image mj-class="full-width-image" src="http://www.chrysleroffers.ca/%%Language_Preference%%/email-offers/%%TILE_25%%/%%BRAND_CODE%%/D0007/desktop-offer.jpg"
                    href="https://www.dodge.ca/en/build-and-price/dodge/durango/2019/20487?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na" />
            </mj-column>
        </mj-section>

        <!-- menu -->
        <mj-section padding="0" mj-class="bgwhite">
            <mj-column width="150px" padding="0">
                <mj-button mj-class="footer-cta" padding-left="0" href="https://www.dodge.ca/en/build-and-price?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na">Calculate&nbsp;Payments</mj-button>
            </mj-column>
            <mj-column width="150px">
                <mj-button mj-class="footer-cta"  href="https://www.dodge.ca/en/new-inventory/search?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na">Search&nbsp;Inventory</mj-button>
            </mj-column>
            <mj-column width="150px">
                <mj-button mj-class="footer-cta"  href="https://www.dodge.ca/en/build-and-price?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na">Build&nbsp;&amp;&nbsp;Price</mj-button>
            </mj-column>
            <mj-column width="150px">
                <mj-button mj-class="footer-cta" padding-right="0" href="https://www.dodge.ca/en/compare/?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na">Compare&nbsp;Models</mj-button>
            </mj-column>
        </mj-section>

        <!-- logo -->
        <mj-section mj-class="bgwhite">
            <mj-column>
                <mj-image src="img/logo_black.png" alt="Dodge Logo" href="https://www.dodge.ca/en?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na" width="300px" align="center" />
            </mj-column>
        </mj-section>

        <mj-section mj-class="bgwhite">
            <mj-column>
                <mj-text mj-class="body-text" align="center" font-size="26px" padding="0px">
                    Connect with Dodge enthusiasts and owners online on these Dodge Canada social sites:
                </mj-text>
                <mj-social font-size="15px" icon-size="30px" mode="horizontal">
                    <mj-social-element name="facebook" src="img/facebook.png" icon-size="64px"
                    href="https://www.facebook.com/dodgecanada?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na" ></mj-social-element>
                    <mj-social-element name="twitter" src="img/twitter.png" icon-size="64px"
                    href="https://twitter.com/dodge_canada?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na" ></mj-social-element>
                </mj-social>
            </mj-column>
        </mj-section>

        <mj-section mj-class="bgwhite">
            <mj-column>
                <mj-text mj-class="footer-text">
                    *"Starting at" price is the Manufacturer’s Suggested Retail Price (MSRP) for the base model minus Total Discounts (where applicable). In English Canada, price does not include freight ($1,795-$1,895), registration, licence, insurance, A/C charge, new tire duties, retailer administration fees and other charges and taxes. In Quebec, price includes freight ($1,795-$1,895), A/C charge and applicable green levies and excludes registration, licence, insurance, new tire duties, retailer administration fees and other charges and fees. Model shown may be an upgraded model. Total Discounts vary from time to time and include Consumer Cash Discounts, which are deducted from the negotiated price before taxes and Bonus Cash Discounts, which are deducted from the negotiated price after taxes. Retailers may sell for less. <sup>&#116;</sup>Lease and finance payments are based on the "Starting at" price plus freight ($1,795-$1,895), A/C charge and applicable green levies. For leases, the applicable down payment and first month’s payment are due at lease inception. Low lease kilometre limit of 18,000 km/year. Charge of $0.16 per excess kilometre plus applicable taxes will be charged at lease termination. For representative lease examples, <a href="http://www.fcacanada.ca/uploads/pdf/leasing_en.pdf?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na">click here<a/>. For representative finance examples, <a href="http://www.fcacanada.ca/uploads/pdf/finance_en.pdf?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na">click here</a>. The details may differ from the lease and finance details set out above. ^Based on automotive awards for minivans 1984 through 2018. <sup>&dagger;</sup>Based on the latest available competitive information and WardsAuto Middle Cross Utility segmentation. Excludes other vehicles designed and manufactured by FCA US LLC. Based on availability of I-4 and V6 powertrains, front-wheel drive and all-wheel drive, 5 and 7 passenger seating, second-row removable in-floor storage bins, and integrated child booster seats. &copy;2018-2019 FCA Canada Inc. All Rights Reserved.
				    <br /><br />
				    FCA Canada Inc., P.O. Box 1621, Windsor, ON N9A 4H6 Canada<br /><a target="_blank" href="https://www.fcagroup.com/en-US/group/regions/Pages/nafta.aspx/Pages/Home.aspx?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na">www.fcanorthamerica.com</a>
				    <br /><br />
				    At FCA Canada Inc. we value your privacy. If you no longer wish to receive our marketing emails, <a target="_blank" href="https://www.preferences.chryslercanada.ca/en/subscription.html?#CONSUMER_EMAIL=%%Email%%&campaignID=%%CampaignID%%&utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na">click&nbsp;here</a> to opt-out or manage your email communication preferences. To review our privacy policy, <a target="_blank" href="http://fcacanada.ca/privacy/?utm_medium=Email&utm_source=CRM&utm_campaign=4_11_2019_WKLY_BRNDOFFR_8177_Brand_EN_DDG_OneTime_NTL&utm_content=NTL_EN_na">click&nbsp;here</a>. For additional assistance, contact The New Vehicle Information Centre at <a target="_blank" href="tel:18003613700">1-800-361-3700</a>.
                </mj-text>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>